.react-tabs__tab--selected {
  color: #f8501a !important;
  border: 3px solid transparent !important;
  padding: 0px 2px 10px 2px;
  outline: none;
  border-bottom-color: #f8501a !important;
}

/* padding: 0px 2px 10px 2px; */
.heart {
  filter: invert(18%) sepia(68%) saturate(4922%) hue-rotate(345deg)
    brightness(89%) contrast(136%);
}
