*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff !important;
  font-family: "Inter";
  overflow-x: hidden;
  ::-webkit-scrollbar {
    width: 0px !important;
  }
  .example::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
}
@media screen and (max-width: 1281px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 885px) {
  .container {
    max-width: 830px;
  }
}
@media screen and (max-width: 835px) {
  .container {
    max-width: 800px;
  }
}
@media screen and (max-width: 801px) {
  .container {
    max-width: 770px;
  }
}
@media screen and (max-width: 770px) {
  .container {
    max-width: 730px;
  }
}@media screen and (max-width: 430px) {
  .container {
    max-width: 400px;
  }
}
@media screen and (max-width: 395px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (max-width: 376px) {
  .container {
    max-width: 360px;
  }
}@media screen and (max-width: 361px) {
  .container {
    max-width: 345px;
  }
}
